body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.user-select {
    width: 100%;
    padding: 0.4rem;
    border: none;
    border-radius: 5px;
    background-color: inherit; /* Utilise la couleur de la cellule parent */
    color: white; /* Si nécessaire pour le contraste */
    text-align: center;
    cursor: pointer;
}

.login-form {
    width: 350px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

.error-message {
    color: #e74c3c;
    background-color: #fbeaea;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

button {
    width: 50%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
}

button:hover {
    background-color: #45a049;
}

.login-footer {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #777;
}

.login-footer a {
    color: #4CAF50;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}

@media (max-width: 400px) {
    .login-form {
        width: 90%;
        padding: 20px;
    }
}